In [ ]:
import pandas as pd  # type: ignore

In [3]:
data = pd.read_excel("/home/cimcon/Downloads/BOQ_1713788.xls")

In [4]:
header_row_index = data[data.isin(["Item Description"]).any(axis=1)].index[0]
data.columns = data.iloc[header_row_index]  # Set header row as column names

# Step 3: Exclude header row and filter relevant columns
df = data[header_row_index + 1:]  # Skip the header row itself
required_columns = ["Sl.\nNo.", "Item Description", "Quantity", "Units"]

In [8]:
sheet = df[["Sl.\nNo.", "Item Description", "Quantity", "Units"]]
sheet

9,Sl.\nNo.,Item Description,Quantity,Units
10,1,2,4,5
11,1,Cutting/dismentaling/taking out of bitumen roa...,80860.31,SQM
12,2,Bituminuos road,220655.47,SQM
13,3,Interlocking road(taking out and stacking),150169.15,SQM
14,4,Excavation for following depth below ground le...,695785.14,cum
...,...,...,...,...
394,384,Running operation maitenance of 160 KVA DG Set...,180,Hrs.
395,385,Running operation maitenance of 380 KVA DG Set...,90,Hrs.
396,Total in Figures,NaN,NaN,NaN
397,Quoted Rate in Figures,NaN,NaN,Select
398,Quoted Rate in Words,NaN,NaN,NaN

In [19]:
def find_keyword_in_column(df, column_name, keyword):
                                                                                                                     
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in DataFrame.")
    
    # Filter rows where the column contains the keyword
    matching_items = df[column_name][df[column_name].str.contains(keyword, case=False, na=False)]
    
    if not matching_items.empty:
        return True, matching_items.tolist()
    else:
        return False, None

In [42]:
keyword = "Filter bed"
result = find_keyword_in_column(data, "Item Description", keyword)
print(result)

(False, None)